.coverage*
.DS_Store
.env
.idea
.vscode

artifacts/
cache/
node_modules/
coverage/
interact/
joscelynTest/
script/
broadcast/
# VIM
*.swo
*.swp
out/
report/
lcov.info
soljson-v0.8.9+commit.e5eed63a.js
