.coverage*
.DS_Store
.env
.idea
.vscode

artifacts/
cache/
node_modules/
coverage/
interact/
joscelynTest/
script/
broadcast/
# VIM
*.swo
*.swp
/out/
/test/
/src/basicIntf/IChainlink.sol
/src/basicIntf/IMarkPriceSource.sol
/src/basicIntf/IWETH.sol
/src/basicIntf/IDecimalERC20.sol
