.coverage*
.DS_Store
.env
.env.base_mainnet
.env.base_testnet
.idea
.vscode

forge.config


artifacts/
cache/
node_modules/
coverage/
interact/
script/history.txt
broadcast/
# VIM
*.swo
*.swp
out/
report/
lcov.info
